#event{
	background-color: $menuColor;
	border: $menuColor solid 1px;
	border-color: #E5D5C1 #C19C74 #B28C5F #D6B996;
	padding: 10px;
	cursor: pointer;
}
#event:hover{
	background-color: $backColor;
}
#leaflet{
	display: none;
	overflow: hidden;
	cursor: pointer;
}
