select, textarea, input[type="text"]{
	color: $fontColor;
	display: block;
	padding: 2px 4px;
	border: $menuColor solid 1px;
	border-color: #C19C74 #E5D5C1 #D6B996 #B28C5F;
}
select{
	height: 26px;
}
input[type="text"] {
	height: 20px;
}
input[type="submit"] {
	color: $fontColor;
	font-weight: bold;
	padding: 4px 8px;
	border: $menuColor solid 1px;
	border-color: #E5D5C1 #C19C74 #B28C5F #D6B996;
	background-color: $backColor;
}
input[type="submit"]:hover, label:hover {
	border-color: #C19C74 #E5D5C1 #D6B996 #B28C5F;
	color: #B28C5F;
}
iframe{
	border: $menuColor solid 1px;
	border-color: #E5D5C1 #C19C74 #B28C5F #D6B996;
}
