#head{
	height: $headImgHeight + 2 + (2 * $headMargin);
	margin: $panelMargin 0;
	position: relative;
	background-color: $headColor;
	img{
		position: absolute;
		width: $headImgWidth;
		height: $headImgHeight;
		top: $headMargin;
		border: $fontColor solid 1px;
	}
	img:nth-child(even){
		left: $headMargin;
	}
	img:nth-child(odd){
		left: ($pageWidth / 2) + ($headMargin / 2);
	}
}
