#info {
	position: relative;
	ul{
		color: $menuColor;
		cursor: default;
		position: absolute;
		top: -$menuHeight - 10;
	}
	li{
		width: $w14;
		line-height: $menuHeight;
		text-align: center;
		float: left;
	}
	img{
		margin-right: 8px;
	}
}
