$fontColor: #4B3123;
$backColor: #F7EFE4;
$menuColor: #CBB895;
$headColor: #DBD3C8;
$pageColor: #FFFFFF;

$pageWidth: 1000px;
$menuHeight: 80px;
$headImgWidth: 483px;
$headImgHeight: 318px;
$headMargin: 10px;
$panelMargin: 30px;

@font-face {
	font-family: webglyphs;
	src: url('../font/webglyphs2.eot');
	src: url('../font/webglyphs2.woff') format('woff'),
		url('../font/webglyphs2.ttf') format('truetype');
}

body{
	color: $fontColor;
	background-color: $backColor;
}
h1{
	margin: 0 0 $panelMargin 0;
	text-align: center;
}
h2{
	margin: 0 0 10px 0;
}
a{
	color: $fontColor;
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	vertical-align: middle;
}
button{
	font-size: 22px;
	color: $fontColor;
	background-color: $menuColor;
	border: $fontColor solid 1px;
	border-radius: 8px;
	padding: 12px;
	cursor: pointer;
}
button:hover{
	background-color: $headColor;
}


#page{
	width: $pageWidth;
	margin: $panelMargin auto;
	background-color: $pageColor;
	border: $fontColor solid 1px;
}
.pnl{
	float: left;
}
$w12: floor($pageWidth / 2);
.w12{
	width: $w12;
}
$w13: floor($pageWidth / 3);
.w13{
	width: $w13;
}
$w14: floor($pageWidth / 4);
.w14{
	width: $w14;
}
$w34: floor($pageWidth / 4) * 3;
.w34{
	width: $w34;
}
.clr{
	clear: both;
}
