$fontColor: #4B3123;
$backColor: #F7EFE4;
$menuColor: #CBB895;
$headColor: #DBD3C8;
$pageColor: #FFFFFF;

$pageWidth: 1000px;
$menuHeight: 80px;
$headImgWidth: 483px;
$headImgHeight: 318px;
$headMargin: 10px;
$panelMargin: 30px;
$leftPanelWidth: (($pageWidth / 4) * 3) - 2 * $panelMargin;

body{
	color: $fontColor;
	background-color: $backColor;
}
h1{
	margin: 0 0 $panelMargin 0;
}
a{
	color: $fontColor;
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	vertical-align: middle;
	margin-right: 10px;
}
#page{
	width: $pageWidth;
	margin: $panelMargin auto;
	background-color: $pageColor;
	border: $fontColor solid 1px;
}
.clr{
	clear: both;
}
