.menu a:hover{
	opacity: 0.6;
}
.menu li{
	display: table-cell;
	text-align: center;
}
.icon{
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center left;
}
.icon a,
.icon span{
	display: table-cell;
	vertical-align: middle;
}
