.menu{
	padding: 5px 0;
	background-color: $headColor;
	ul{
		height: $menuHeight;
		background-color: $menuColor;
	}
	li{
		line-height: $menuHeight;
		text-align: center;
		float: left;
	}
}
#top{
	margin: $panelMargin 0;
	li{
		width: $w14;
	}
}
#btm{
	li{
		width: $w13;
	}
	img{
		margin-right: 8px;
	}
}
