.int{
	p{
		text-align: center;
	}
	.w34{
		width: $w34 - 2 * $panelMargin;
		margin: 0 $panelMargin $menuHeight + 30 $panelMargin;
	}
	.w14{
		width: $w14 - $panelMargin;
		margin-right: $panelMargin;
	}
}