.mnu{
	h2{
		margin-top: 20px;
	}
	span{
		font-size: 0.8em;
		white-space: nowrap;
	}
	table{
		margin: 0 $panelMargin $panelMargin $panelMargin;
	}
	td{
		vertical-align: top;
		i{
			display: block;
			padding-bottom: 10px;
		}
	}
	.left{
		padding: 0 10px 0 10px;
		width: 100%;
	}
	.right	{
		white-space: nowrap;
		text-align: right;
	}
}