.int{
	p{
		text-align: center;
	}
	h2{
		text-align: center;
	}
	.w34{
		width: $w34 - 2 * $panelMargin;
		margin: 0 $panelMargin $panelMargin $panelMargin;
	}
	.w14{
		width: $w14 - $panelMargin;
		margin: 0 $panelMargin 0 0;
	}
}
#info {
	color: $menuColor;
	li{
		width: $w14;
		cursor: default;
	}
	.icon span{
		height: $menuHeight;
	}
}
#top, #btm{
	padding: 5px 0;
	background-color: $headColor;
	ul{
		background-color: $menuColor;
	}
}
$logoWidth: 300px;
#top{
	margin: $panelMargin 0;
	li:first-child{
		width: $logoWidth;
	}
	li:not(:first-child){
		width: floor(($pageWidth - $logoWidth) / 4);
	}
}
#btm{
	li{
		width: $w13;
	}
}
.lunch{
	padding-left: 60px;
	background-image: url(img/layout/rozvoz-obedu.png);
}
.nosmoke{
	padding-left: 60px;
	background-image: url(img/layout/nekuracka-restaurace.png);
}
.wifi{
	padding-left: 50px;
	background-image: url(img/layout/wifi-restaurace.png);
}
.nobarrier{
	padding-left: 40px;
	background-image: url(img/layout/bezbarierovy-pristup.png);
}
.tourism{
	padding: 5px 0 5px 44px;
	background-image: url(img/layout/turistika-pribram.png);
}
.inspection{
	padding: 5px 0 5px 60px;
	background-image: url(img/layout/prohlidka-restaurace.png);
}
.maps{
	padding: 5px 0 5px 40px;
	background-image: url(img/layout/cyklostezky-pribram.png);
}
