.mnu{
	tr:not(:first-child) h2{
		margin-top: 20px;
	}
	span{
		font-size: 0.8em;
		white-space: nowrap;
	}
	table{
		margin: 0 $panelMargin $panelMargin $panelMargin;
	}
	th{
		text-align: left;
	}
	td{
		vertical-align: top;
		i{
			display: block;
			padding-bottom: 10px;
		}
	}
	h2, tr td:nth-child(2){
		padding: 0 10px 0 10px;
		width: 100%;
	}
	td:not(:nth-child(2))	{
		white-space: nowrap;
		text-align: right;
	}
}