.int{
	p{
		text-align: center;
	}
	h2{
		text-align: center;
	}
	.w34{
		width: $w34 - 2 * $panelMargin;
		margin: 0 $panelMargin $menuHeight + 30 $panelMargin;
	}
	.w14{
		width: $w14 - $panelMargin;
		margin-right: $panelMargin;
	}
}
#info {
	color: $menuColor;
	li{
		width: $w14;
		cursor: default;
	}
	.icon span{
		height: $menuHeight;
	}
}
#top, #btm{
	padding: 5px 0;
	background-color: $headColor;
	ul{
		background-color: $menuColor;
	}
	a{
		height: 80px;
	}
}
#top{
	margin: $panelMargin 0;
	li{
		width: $w14;
		padding: 10px 0;
	}
}
#btm{
	margin: 0;
	li{
		width: $w13;
	}
}
.lunch{
	padding-left: 60px;
	background-image: url(img/layout/rozvoz-obedu.png);
}
.nosmoke{
	padding-left: 60px;
	background-image: url(img/layout/nekuracka-restaurace.png);
}
.wifi{
	padding-left: 50px;
	background-image: url(img/layout/wifi-restaurace.png);
}
.tourism{
	padding-left: 44px;
	background-image: url(img/layout/turistika-pribram.png);
}
.inspection{
	padding-left: 60px;
	background-image: url(img/layout/prohlidka-restaurace.png);
}
.maps{
	padding-left: 40px;
	background-image: url(img/layout/cyklostezky-pribram.png);
}
.nobarrier{
	padding-left: 40px;
	background-image: url(img/layout/bezbarierovy-pristup.png);
}
