.cnt{
	.w12{
		padding: 0 0 0 $panelMargin;
		width: $w12 - $panelMargin;
	}
	.field{
		width: ($w12 - $panelMargin) / 2;
		float: left;
		margin-bottom: $panelMargin;
		div{
			cursor: default;
		}
	}
	table{
		margin-bottom: $panelMargin;
	}
	input[type="text"] {
		width: 142px;
	}
	textarea{
		height: 110px;
		width: 454px;
	}
}
*:before{
	font-family: webglyphs;
	font-weight: normal;
	font-size: 14px;
	margin-right: 8px;
	position: relative;
	top: 1px;
	cursor: default;
}
.person:before {
	content: '\f133';
}
.phone:before {
	content: '\f0e8';
}
.mail:before {
	content: '\f028';
	top: 4px;
}
.house:before {
	content: '\f5ed';
}
.street:before {
	content: '\f21b';
}
.city:before {
	content: '\f576';
}
.map:before {
	content: '\f20a';
}
