<table class="calendar">
	<tr>
		<th colspan="7">Online rezervace</th>
	</tr>
	<tr>
		{foreach $days as $day}
			<th>{$day}</th>
			{/foreach}
	</tr>
	{foreach $calendar as $day}
		{php $attr = $control->getAttr($day)}
		{first 7}<tr>{/first}
			<td>
				<a n:class="$attr['class']" href="{plink kalendar $day}" title="{$attr['title']}">
					{$day|date:"d"}
				</a>
			</td>
			{last 7}</tr>{/last}
		{/foreach}
</table>
