<table class="opentime">
	<tr>
		<th colspan="3">Otevírací doba</th>
	</tr>
	{foreach $days as $id => $day}
		<tr>
			<th>{$day}</th>
			<td{if !$opentime[$id]} colspan="2"{/if}>
				{$opentime[$id] ? $opentime[$id][0] : "zavřeno"}
			</td>
			<td n:ifset="$opentime[$id][1]">
				{$opentime[$id][1]}
			</td>

		</tr>
	{/foreach}
	<tr>
		<th colspan="3">{$season[0]|czMonth} - {$season[1]|czMonth}</th>
	</tr>
</table>
