{block title}Jídelní lístek restaurace{/block}
{block content}
<div id="content" class="cnt">
	<h1>Jídelní lístek</h1>
	<div class="pnl w12">
		<h3>
			Vážení zákazníci,<br>
			Jelikož nabízíme každý víkend jiné menu,<br>
			nemá naše	restaurace stálý jídelní lístek.
		</h3>
		<br>
	</div>
	<div class="clr"></div>
</div>
