parameters:
# open: false  #nastavi den na Zavreno
# open: 18:00  #zmeni oteviraci dobu, pokud je v dany den zavreno, musi byt zadan parametr close
# close: 20:00 #zmeni zaviraci dobu, pokud je v dany den zavreno, musi byt zadan parametr open
# start: 17:00 #nastavi zacatek akce. Musi byt zadany parametr event.
# event: nazev akce #nastavi nazev akce pro dany den. Musi byt zadany parametr start. Pokud je v dany den zavreno, musi byt zadan parametr close.

	calendar:
		'15.10.2015':
			event: 'Příbramské vinobraní'
			start: 17:00
		'16.10.2015':
			open: 18:00
			close: 20:00
		'20.10.2015':
			open: 18:00
		'29.10.2015':
			open: false
		'27.10.2015':
			open: 12:00
			close: 20:00
		'3.11.2015':
			event: 'Halloween party'
			start: 19:00
			close: 24:00
		'5.11.2015':
			close: 20:00
