parameters:
	drink-menu:
		-
			group: 'Točená piva'
			drink:
				-
					name: 'Bakalář světlý výčepní 10°'
					amount: '0,3 / 0,5 l'
					price: '21 / 25'
					description: 'Příjemné hořké pivo vyvážené chuti a zlaté barvy.'
				-
					name: 'Bakalář světlý ležák za studena chmelený 12°'
					amount: '0,3 / 0,5 l'
					price: '25 / 30'
					description: 'Nezaměnitelné pivo s vyšší původní stupňovitostí, charakteristické nádherným aroma sušených<br> chmelových hlávek Žateckého poloraného červeňáku a sytou barvou s temně zlatými odlesky.'
				-
					name: 'Bakalář řezaný výčepní'
					amount: '0,3 / 0,5 l'
					price: 22 / 26
					description: 'Plnější pivo rubínové barvy s jemnou příchutí karamelu a nádechem chmelové hořkosti.'
				-
					name: 'Velkopopovický Kozel 11°'
					amount: '0,3 / 0,5 l'
					price: '22 / 27'
		-
			group: 'Lahvové pivo'
			drink:
				-
					name: 'Bakalář za studena chmelený nealkoholický'
					amount: '0,5 l'
					price: 25
				-
					name: 'Pilsner Urquell ležák 12°'
					amount: '0,5 l'
					price: 35
		-
			group: 'Nealkoholické rozlévané nápoje'
			drink:
				-
					name: 'Točená kofola'
					amount: '1 dl'
					price: 6
				-
					name: 'Coca Cola, Fanta, Sprite, Tonic'
					amount: '3 dl'
					price: 22
				-
					name: 'Džus (dle nabídky)'
					amount: '3 dl'
					price: 35
				-
					name: 'Soda'
					amount: '3 dl'
					price: 12
		-
			group: 'Lahvové nealkoholické nápoje'
			drink:
				-
					name: 'Toma natura (jemně perlivá, neperlivá)'
					amount: '3,3 dl'
					price: 24
				-
					name: 'Coca Cola, Fanta, Sprite, Tonic'
					amount: '3 dl'
					price: 35
				-
					name: 'Cappy (dle nabídky)'
					amount: '2 dl'
					price: 35
				-
					name: 'Red Bull'
					amount: '2 dl'
					price: 55
		-
			group: 'Alkoholické nápoje'
			drink:
				-
					name: 'Cinzano Bianco'
					amount: '1 dl'
					price: '45'
				-
					name: 'Slivovice Fleret'
					amount: '2 / 4 cl'
					price: '25 / 45'
				-
					name: 'Beefeater Gin'
					amount: '2 / 4 cl'
					price: '25 / 40'
				-
					name: 'Becherovka'
					amount: '2 / 4 cl'
					price: '25 / 40'
				-
					name: 'Becherovka Lemond'
					amount: '2 / 4 cl'
					price: '25 / 40'
				-
					name: 'Amundsen (dle nabídky)'
					amount: '2 / 4 cl'
					price: '18 / 30'
				-
					name: 'Božkov Peprmintový likér'
					amount: '2 / 4 cl'
					price: '15 / 25'
				-
					name: 'Fernet Stock'
					amount: '2 / 4 cl'
					price: '18 / 30'
				-
					name: 'Fernet Stock citrus'
					amount: '2 / 4 cl'
					price: '18 / 30'
				-
					name: 'Jagermeister'
					amount: '2 / 4 cl'
					price: '25 / 45'
				-
					name: 'Magister'
					amount: '2 / 4 cl'
					price: '20 / 35'
				-
					name: 'Metaxa (5*)'
					amount: '2 / 4 cl'
					price: '33 / 55'
				-
					name: 'Diplomatico 12y'
					amount: '2 / 4 cl'
					price: '60 / 110'
				-
					name: 'Don Papa'
					amount: '2 / 4 cl'
					price: '60 / 110'
				-
					name: 'Capitan Bucanero'
					amount: '2 / 4 cl'
					price: '45 / 80'
				-
					name: 'Captain Morgan'
					amount: '2 / 4 cl'
					price: '25 / 45'
				-
					name: 'Legendario'
					amount: '2 / 4 cl'
					price: '50 / 90'
				-
					name: 'Božkov Republica'
					amount: '2 / 4 cl'
					price: '30 / 55'
				-
					name: 'Božkov rum tuzemský'
					amount: '2 / 4 cl'
					price: '15 / 25'
				-
					name: 'Božkov vodka'
					amount: '2 / 4 cl'
					price: '15 / 25'
				-
					name: 'Finlandia vodka'
					amount: '2 / 4 cl'
					price: '22 / 40'
				-
					name: 'Tullamore Dew'
					amount: '2 / 4 cl'
					price: '35 / 60'
				-
					name: 'Johnnie Walker Red Label'
					amount: '2 / 4 cl'
					price: '32 / 55'
				-
					name: 'Jack Daniels Honey'
					amount: '2 / 4 cl'
					price: '50 / 90'
		-
			group: 'Rozlévaná vína'
			drink:
				-
					name: 'Bílé víno (dle nabídky)'
					amount: '2 dl'
					price: '40'
				-
					name: 'Červené - (dle nabídky)'
					amount: '2 dl'
					price: '40'
		-
			group: 'Šumivá vína'
			drink:
				-
					name: 'Bohemia sekt (demi)'
					amount: '0,7 l'
					price: '250'
		-
			group: 'Káva'
			drink:
				-
					name: 'Káva espresso'
					amount:
					price: 35
				-
					name: 'Café Latté'
					amount:
					price: 45
				-
					name: 'Capuccino'
					amount:
					price: 40
				-
					name: 'Káva nescafé'
					amount:
					price: 25
				-
					name: 'Káva vídeňská'
					amount:
					price: 40
				-
					name: 'Káva turecká'
					amount:
					price: 20

		-
			group: 'Teplé nápoje'
			drink:
				-
					name: 'Horký čaj (dle nabídky)'
					amount:
					price: 20
				-
					name: 'Horký čaj s medem a citrónem (dle nabídky)'
					amount:
					price: 25
				-
					name: 'Čaj Revolution'
					amount:
					price: 35
				-
					name: 'Svařené víno'
					amount:
					price: 45
				-
					name: 'Grog'
					amount:
					price: 35

		-
			group: 'Pochutiny'
			drink:
				-
					name: 'Mandle pražené'
					amount:
					price: 38
				-
					name: 'Čerstvě pražené mandle'
					amount:
					price: 50
				-
					name: 'Arašídy'
					amount:
					price: 23
				-
					name: 'Brambůrky Bohemia Chips (dle nabídky)'
					amount:
					price: 30
				-
					name: 'Cibulové kroužky'
					amount:
					price: 30
