parameters:
# open: false #Nastavi den na Zavreno.
# open: {16:00,24:00} #Zmeni oteviraci dobu {od,do}.
# event: {16:00,'nazev akce'} #Nastavi zacatek a nazev akce pro dany den. Pokud je v dany den zavreno, musi byt zadana oteviraci doba.
	event:
		'8.2.2019':
			open: false
		'15.11.2019':
			event: {18:00,'Ochutnávka mladého Svatomartinského vína','svatomartinske.jpg'}
		'22.11.2019':
			event: {18:00,'Ochutnávka mladého Svatomartinského vína','burger.jpg'}
		'23.11.2019':
			event: {18:00,'Ochutnávka mladého Svatomartinského vína','burger.jpg'}
