parameters:
	lunch-menu:
		'13.3.2017':
			p: 'Drůbeží vývar s masem a nudlemi'
			a: 'Střapačky se zelím a uzeným masem'
			b: ''
		'14.3.2017':
			p: 'Kulajda'
			a: 'Vepřová plec na žampiónech, dušená rýže'
			b: ''
		'15.3.2017':
			p: 'Zeleninová bílá'
			a: 'Smažený kuřecí Cordon bleu (šunka, sýr), vařené brambory'
			b: ''
		'16.3.2017':
			p: 'Gulášová'
			a: 'Hamburská vepřová kýta, houskové knedlíky'
			b: ''
		'17.3.2017':
			p: 'Hovězí vývar s tarhoňou'
			a: 'Španělský ptáček, dušená rýže'
			b: ''
		'20.3.2017':
			p: 'Žampiónová'
			a: 'Smažený hermelín, vařené brambory'
			b: 'Zeleninový salát s grilovaným kuřecím masem a dresingem'
		'21.3.2017':
			p: 'Zeleninový vývar se strouháním'
			a: 'Kuřecí soté, dušená rýže'
			b: 'Vepřová játra na roštu, vařené brambory'
		'22.3.2017':
			p: 'Fazolová bílá'
			a: 'Vídeňský hovězí guláš, houskové knedlíky'
			b: 'Vepřové rizoto se sýrem, kys. okurka'
		'23.3.2017':
			p: 'Hovězí vývar s rýží a hráškem'
			a: 'Vepřové maso v mrkvi, opečené brambory'
			b: 'Dukátové buchtičky s vanilkovým krémem'
		'24.3.2017':
			p: 'Brokolicová'
			a: 'Plněný paprikový lusk, dušená rýže'
			b: 'Těstoviny penne se šunkou, žampióny a sýrovou omáčkou'
