parameters:
	lunch-menu:
		'28.1.2019':
			p: 'Květáková'
			a: 'Kuřecí prsa "Apollo" (angl. slanina, smetana, česnek, žampión), dušená rýže'
			b: 'Mexické fazole s klobásou'
		'29.1.2019':
			p: 'Čočková s párkem'
			a: 'Smažený hermelín, vařené brambory'
			b: 'Caesar salát s kuřecím masem, opečenou slaninou a krutóny'
		'30.1.2019':
			p: 'Drůbeží vývar s kapáním'
			a: 'Vepřové maso v mrkvi, opečené brambory'
			b: 'Maminčino kuře'
		'31.1.2019':
			p: 'Žampiónová'
			a: 'Svíčková na smetaně, houskové knedlíky'
			b: 'Zeleninové řízečky, 1/2 vařené brambory, 1/2 zelný salát'
		'1.2.2019':
			p: 'Gulášová'
			a: 'Vepřová plec na slanině, dušená rýže'
			b: 'Dukátové buchtičky s vanilkovým krémem'
		'4.2.2019':
			p: 'Zeleninová'
			a: 'Kuřecí prsa na bylinkách, dušená rýže'
			b: 'Špagety "Aglio, olio e peperencino"'
		'5.2.2019':
			p: 'Hrstková'
			a: 'Vepřový guláš, houskové knedlíky'
			b: 'Jablková žemlovka s tvarohem'
		'6.2.2019':
			p: 'Česneková s bramborem'
			a: 'Hovězí maso vařené, rajská omáčka, vařené těstoviny'
			b: 'Francouzské brambory, kys. okurka'
		'7.2.2019':
			p: 'Selská'
			a: 'Pečené kuře ala kachna, červené zelí, bramborové knedlíky'
			b: 'Smažená vepřová játra, vařené brambory, tatarská omáčka'
		'8.2.2019':
			p: 'Hovězí vývar s masem a nudlemi'
			a: 'Kuřecí prsa na paprice, dušená rýže'
			b: 'Pštrosí vejce, bramborová kaše'
