parameters:
	lunch-menu:
		'7.5.2018':
			p: 'Brokolicová'
			a: 'Kuřecí flamendr, dušená rýže'
			b: 'Uzená krkovice, hrachová kaše, kys. okurka'
		'8.5.2018':
			p: ''
			a: 'Z důvodu státního svátku se nevaří.'
			b: ''
		'9.5.2018':
			p: 'Šalotková'
			a: 'Smažený kuřecí Cordon bleu (šunka, sýr), vařené brambory'
			b: 'Mexické fazlole s klobásou'
		'10.5.2018':
			p: 'Bramborová'
			a: 'Plněná vepřová roláda, šťouchané brambory'
			b: 'Hovězí maso vařené, okurková omáčka, houskové knedlíky'
		'11.5.2018':
			p: 'Hovězí vývar s kapáním'
			a: 'Plněný paprikový lusk, dušený rýže'
			b: 'Caesar salát s kuřecím masem, opečenou slaninou a krutóny'
		'14.5.2018':
			p: 'Žampiónová'
			a: 'Kuřecí nudličky na kari, dušená rýže'
			b: 'Gnocchi se šunkou, listovým špenátem, česnekem a smetanou'
		'15.5.2018':
			p: 'Hrstková'
			a: 'Masové kuličky z mletého masa, vařené brambory'
			b: 'Zeleninový salát s tuňákem a vejcem'
		'16.5.2018':
			p: 'Česneková s bramborem'
			a: 'Hovězí maso na pepři, vařené těstoviny'
			b: 'Pečený vepřový bůček, houskové knedlíky, červené zelí'
		'17.5.2018':
			p: 'Fazolová s párkem'
			a: 'Pivovarská krkovice, vařené brambory'
			b: 'Vepřový guláš, houskové knedlíky'
		'18.5.2018':
			p: 'Hovězí vývar s masem a nudlemi'
			a: 'Španělský ptáček, dušená rýže'
			b: 'Krůtí prsa s drůbežími játry, šťouchané brambory'
