parameters:
	opentime:
		-
			months: {6,7,8}
			days:
				- false
				- false
				- false
				- {17:00,21:30}
				- {17:00,24:00}
				- {11:30,23:00}
				- false
		-
			months: {9,10,11,12,3,4,5}
			days:
				- false
				- false
				- {16:00,22:00}
				- {16:00,22:00}
				- {16:00,24:00}
				- {11:30,23:00}
				- false
		-
			months: {1,2}
			days:
				- false
				- false
				- false
				- {16:00,22:00}
				- {16:00,24:00}
				- {11:30,23:00}
				- false
