parameters:
	opentime:
		1:
			name: 'Po'
		2:
			name: 'Út'
		3:
			name: 'St'
			from: 16:00
			end: 22:00
		4:
			name: 'Čt'
			from: 16:00
			end: 22:00
		5:
			name: 'Pá'
			from: 16:00
			end: 24:00
		6:
			name: 'So'
			from: 11:00
			end: 23:00
		7:
			name: 'Ne'
			from: 11:00
			end: 20:00
