parameters:
	tourism:
		-
			group: 'Hrady a vrcholy Brd'
			image: 'hrad-valdek.jpg'
			place:
				- 'Tvrziště hradiště Drahlín'
				- 'Zřícenina hradu Valdek'
				- 'Lovecký zámeček Tři trubky'
				- 'Tok'
				- 'Praha'
				- 'Třemošná'
				- 'Jordán'
				- 'Klobouček'
				- 'Slonovec'
				- 'Plešivec'
				- 'Klouček'
				- 'Brda'

		-
			group: 'Muzea a památníky'
			image: 'hornicke-muzeum.jpg'
			place:

				- 'Hornické muzeum Příbram - hornický vláček'
				- 'Muzeum III. odboje'
				- 'Vysoká u Příbrami (Památník Antonína Dvořáka)'
				- 'Památník Slivice'
				- 'Památník Vojna Lešetice'
		-
			group: 'Kostely, divadla, galerie'
			image: 'svata-hora.jpg'
			place:
				- 'Barokní areál a poutní místo Svatá hora'
				- 'Galerie Františka Drtikola Příbram'
				- 'Kostel sv. Jakuba Příbram'
				- 'Kostel sv. Vojtěcha Příbram'
				- 'Kostel sv. Prokopa Příbram'
				- 'Divadlo A. Dvořáka Příbram'
				- 'Knihovna Jana Drdy Příbram'
		-
			group: 'Další zajímavá místa'
			image: 'vojensky-bunkr.jpg'
			place:
				- 'Základna Protivzdušné obrany státu - Klondajk'
				- 'Vojenský bunkr na Jordánu'
				- 'Vojenský bunkr na Houpáku'
				- 'Památník Vojna'
				- 'Památník Slivice'
				- 'Pilský rybník'
				- 'Padrťské rybníky'
				- 'Octárna'
				- 'Sádka'
				- 'Příbramské podzemí'
