includes:
	- tourism.neon
	- main_menu.neon
	- drink_menu.neon
	- lunch_menu.neon

parameters:
	setlocale: cs_CZ.UTF-8 #nastaveni pro unix
	owner:
		name: 'restaurace U Václavů' #alias emailu - jak se bude email zobrazovat
		mail: 'restaurace@uvaclavu.cz' #email na ktery se budou odesilat prihlasky

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
