includes:
	- tourism.neon
	- main_menu.neon
	- lunch_menu.neon

parameters:
	setlocale: cs_CZ.UTF-8 #nastaveni pro unix

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter
