body {
  color: #4B3123;
  background-color: #F7EFE4;
}

h1 {
  margin: 0 0 30px 0;
}

a {
  color: #4B3123;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  margin-right: 10px;
}

#page {
  width: 1000px;
  margin: 30px auto;
  background-color: #FFFFFF;
  border: #4B3123 solid 1px;
}

.clr {
  clear: both;
}

#top li {
  width: 250px;
}
#top img {
  margin: 0;
}

#btm {
  margin: 0;
}
#btm li {
  width: 333.33333px;
}

.menu {
  margin: 30px 0;
  padding: 5px 0;
  background-color: #DBD3C8;
}
.menu ul {
  height: 80px;
  background-color: #CBB895;
}
.menu li {
  line-height: 80px;
  text-align: center;
  float: left;
}

#head {
  height: 340px;
  margin: 30px 0;
  position: relative;
  background-color: #DBD3C8;
}
#head img {
  position: absolute;
  width: 483px;
  height: 318px;
  top: 10px;
  border: #4B3123 solid 1px;
}
#head img:first-child {
  left: 10px;
}
#head img:last-child {
  left: 505px;
}

#info {
  position: relative;
}
#info ul {
  margin-left: 30px;
  color: #CBB895;
  cursor: default;
  position: absolute;
  top: -90px;
}
#info li {
  width: 230px;
  line-height: 80px;
  text-align: center;
  float: left;
}

#foot img {
  clear: right;
}
#foot li {
  width: 500px;
  line-height: 80px;
  text-align: center;
  float: left;
  margin: 3px 0;
}

.button {
  display: block;
  padding: 6px 6px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #CBB895;
  border: #CBB895 solid 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.button span {
  display: block;
  height: 110px;
  line-height: 110px;
  border-radius: 6px;
  border: #FFFFFF solid 1px;
}

.button:hover {
  background-color: #F7EFE4;
}

#leftpanel, #rightpanel {
  float: left;
  margin: 0 30px;
}

#leftpanel {
  width: 690px;
  padding-bottom: 110px;
  text-align: center;
}

#rightpanel {
  width: 220px;
  margin-left: 0;
}

a[href^="error:"] {
  background: red;
  color: white;
}

.flash {
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}

.flash.error {
  background: #FFB6C1;
  color: #8a1f11;
  border-color: #8a1f11;
}
