body {
  color: #4B3123;
  background-color: #F7EFE4;
}

#page {
  width: 1000px;
  margin: 40px auto;
  background-color: #FFFFFF;
  border: #4B3123 solid 1px;
}

#head {
  height: 340px;
  margin: 30px 0;
  position: relative;
  background-color: #DBD3C8;
}
#head img {
  position: absolute;
  width: 483px;
  height: 318px;
  top: 10px;
  border: #4B3123 solid 1px;
}
#head img:first-child {
  left: 10px;
}
#head img:last-child {
  left: 505px;
}

.clr {
  clear: both;
}

a[href^="error:"] {
  background: red;
  color: white;
}

.flash {
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}

.flash.error {
  background: #FFB6C1;
  color: #8a1f11;
  border-color: #8a1f11;
}
