body {
  color: #4B3123;
  background-color: #F7EFE4;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
  margin: 0 0 10px 0;
}

a {
  color: #4B3123;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

#page {
  width: 1000px;
  margin: 30px auto;
  background-color: #FFFFFF;
  border: #4B3123 solid 1px;
}

.pnl {
  float: left;
}

.w12 {
  width: 500px;
}

.w13 {
  width: 333px;
}

.w14 {
  width: 250px;
}

.w34 {
  width: 750px;
}

.clr {
  clear: both;
}

.menu a:hover {
  opacity: 0.6;
}

.menu {
  padding: 5px 0;
  background-color: #DBD3C8;
}
.menu ul {
  height: 80px;
  background-color: #CBB895;
}
.menu li {
  line-height: 80px;
  text-align: center;
  float: left;
}

#top {
  margin: 30px 0;
}
#top li {
  width: 250px;
}

#btm li {
  width: 333px;
}
#btm img {
  margin-right: 8px;
}

#head {
  height: 340px;
  margin: 30px 0;
  position: relative;
  background-color: #DBD3C8;
}
#head img {
  position: absolute;
  width: 483px;
  height: 318px;
  top: 10px;
  border: #4B3123 solid 1px;
}
#head img:first-child {
  left: 10px;
}
#head img:last-child {
  left: 505px;
}

#info {
  position: relative;
}
#info ul {
  color: #CBB895;
  cursor: default;
  position: absolute;
  top: -90px;
}
#info li {
  width: 250px;
  line-height: 80px;
  text-align: center;
  float: left;
}
#info img {
  margin-right: 8px;
}

#foot img {
  margin-right: 8px;
}
#foot li {
  width: 500px;
  line-height: 80px;
  text-align: center;
  float: left;
  margin: 3px 0;
}

.button {
  display: block;
  padding: 6px 6px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #CBB895;
  border: #CBB895 solid 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.button span {
  display: block;
  height: 110px;
  line-height: 110px;
  border-radius: 6px;
  border: #FFFFFF solid 1px;
}

.button:hover {
  background-color: #F7EFE4;
}

.int p {
  text-align: center;
}
.int .w34 {
  width: 690px;
  margin: 0 30px 110px 30px;
}
.int .w14 {
  width: 220px;
  margin-right: 30px;
}

.trm h2 {
  margin-left: 333px;
}
.trm img {
  display: block;
  margin: 0 0 20px 30px;
}
.trm ul {
  margin-bottom: 20px;
}
.trm .w13 {
  min-height: 1px;
}

.mnu tr:not(:first-child) h2 {
  margin-top: 20px;
}
.mnu span {
  font-size: 0.8em;
  white-space: nowrap;
}
.mnu table {
  margin: 30px;
}
.mnu th {
  text-align: left;
}
.mnu td {
  padding-right: 10px;
}
.mnu tr > td:nth-child(1) {
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
}
.mnu tr > td:nth-child(2) {
  width: 100%;
}
.mnu tr > td:nth-child(3) {
  white-space: nowrap;
  text-align: right;
  vertical-align: top;
}

a[href^="error:"] {
  background: red;
  color: white;
}

.flash {
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}

.flash.error {
  background: #FFB6C1;
  color: #8a1f11;
  border-color: #8a1f11;
}
