<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{include title|striptags|strip}</title>
		<link rel="stylesheet" href="{$basePath}/style.css">
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<div id="page">
			<div id="top" class="menu">
				<ul>
					<li><a n:href="Web:kalendar"><img src="/img/layout/restaurace-uvaclavu.png" alt="Restaurace U Václavů"/></a></li>
					<li><a n:href="Web:jidelniListek">JÍDELNÍ<br>LÍSTEK</a></li>
					<li><a n:href="Web:napojovyListek">NÁPOJOVÝ<br>LÍSTEK</a></li>
					<li><a n:href="Web:poledniMenu">POLEDNÍ<br>MENU</a></li>
					<li><a n:href="Web:kontakt">KONTAKTNÍ<br>INFORMACE</a></li>
				</ul>
			</div>
			<div id="head">
				<img src="/img/head/img1.jpg" alt=""/>
				<img src="/img/head/img2.jpg" alt=""/>
			</div>
			{block content|indent:3}
			{/block}
		</div>
		{block scripts}
		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
		{/block}
	</body>
</html>
